<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
<h1>Hello World!</h1>

<h2>Add city</h2>
<form th:method="post" th:action="@{/cities}" th:object="${formCity}">
    <input type="text" th:placeholder="name" th:field="*{name}">
    <input type="number" th:placeholder="population" th:field="*{population}">
    <input type="submit" value="Add city">
</form>
<a th:href="@{/cities}">List of cities</a>
</body>
</html>